* {
  outline: none;
  box-sizing: border-box;
}
@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}
body {
  padding: 0;
  margin: 0;
}
body,
button,
input {
  font-family: 'PT Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#root {
  background: #e1ecea;
  min-height: 100vh;
  background: linear-gradient(135deg, #42A5F5, #AB47BC);
}
.react-web {
  min-height: 100vh;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.preloader-page {
  min-height: 100vh;
}
.login-page {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #42A5F5, #AB47BC);
  justify-content: center;
}
.login-page .logo-wrapper {
  margin-top: -6rem;
  margin-bottom: 4rem;
}
.login-form {
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
}
.login-form .input {
  background: transparent;
  border: none;
  color: #E3F2FD;
  border-bottom: 2px solid #E3F2FD;
}
.login-form .btn {
  margin-top: 2rem;
  width: 100%;
  margin-left: auto;
  text-transform: uppercase;
}
.login-form .input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.pac-container {
  background-color: #ffffff;
}
.pac-item {
  padding: 0.33333333rem 1rem 0.25rem 0.5rem;
}
.pac-item:last-child {
  padding-bottom: 0;
}
.pac-icon {
  margin-top: 5px;
}
/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.welcome {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: calc(100vh - 3rem);
}
.welcome ul {
  list-style-type: none;
}
.welcome ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.welcome a {
  display: block;
  color: #643334;
  line-height: 1.5em;
  text-decoration: none;
  opacity: .8;
  transition: opacity 100ms;
}
.welcome a:hover {
  opacity: 1;
}
.welcome > * {
  z-index: 2;
  position: relative;
}
.welcome .canvas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 0;
  filter: blur(0.6rem);
}
.welcome .canvas canvas {
  width: 100%;
  height: 100%;
}
.btn {
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  color: #78909C;
  border: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  line-height: 1.2em;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  transition: all 300ms;
}
.btn-bordered {
  border: 1px solid;
}
.btn:hover {
  box-shadow: inset 0 0 3rem -1rem;
}
.btn-circle {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 2.2rem;
  width: 2.2rem;
}
.btn-loading .label {
  transform: scale(0.5);
  transform-origin: 100% 100%;
}
.btn .loading-label {
  position: absolute;
}
.btn .loading-bar {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  bottom: auto;
  left: 0.5rem;
  height: 4px;
  border-radius: 2px;
  margin-top: -6px;
  background: rgba(255, 255, 255, 0.5);
}
.btn .loading-bar::before {
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 40%;
  border-radius: inherit;
  background: inherit;
  display: block;
  content: '';
  animation-name: leftToRight;
  animation-timing-function: linear;
  animation-duration: .3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.btn span {
  display: inline-block;
  transition: 300ms all;
}
.btn svg {
  margin: -0.15em 0.4em 0 -0.4em;
}
.btn svg:last-of-type {
  margin: 0;
}
.btn-icon {
  text-align: center;
}
.btn-icon svg {
  font-size: 3em;
}
.btn-icon span {
  display: block;
}
.btn-fill {
  color: #fff;
  background-color: #78909C;
}
.btn-white {
  background-color: #fff;
  color: #78909C;
}
.btn-success {
  color: #1c9c6e;
}
.btn-success.btn-fill {
  color: #fff;
  background-color: #1c9c6e;
}
.btn-purple {
  color: #AB47BC;
}
.btn-purple.btn-fill {
  color: #fff;
  background: linear-gradient(to right, #AB47BC, #8E24AA);
}
.btn-accent {
  color: #2FAFB8;
}
.btn-accent.btn-fill {
  color: #fff;
  background-color: #2FAFB8;
}
.btn-primary {
  color: #575757;
}
.btn-primary.btn-fill {
  color: #fff;
  background-color: #575757;
}
.btn-danger {
  color: #e41d1f;
}
.btn-danger.btn-fill {
  color: #fff;
  background-color: #e41d1f;
}
.btn-warning {
  color: #f2a310;
}
.btn-warning.btn-fill {
  color: #fff;
  background-color: #f2a310;
}
.btn-lg {
  padding: 1rem 1.5rem;
}
.btn-lg svg {
  margin: -0.15em 0.6em 0 -0.6em;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.85em;
}
.btn-sm svg {
  margin: -0.15em 0.2em 0 -0.2em;
}
.btn .arrow {
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-right: -0.25em;
}
.input {
  padding: 0.5em;
  font-size: 1.2em;
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.preloader-spin {
  position: absolute;
  width: 5rem;
  height: 5rem;
  margin-left: -2.5rem;
  margin-top: -2.5rem;
  top: 50%;
  z-index: 2;
  left: 50%;
  border: 2px solid transparent;
  border-top-color: #64B5F6;
  border-radius: 50%;
  animation: PreloaderSpin 3s linear infinite;
}
.preloader-spin:before,
.preloader-spin:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: inherit;
  border: 2px solid transparent;
}
.preloader-spin:before {
  animation: PreloaderSpin 1.5s linear infinite;
  border-top-color: #FFEB3B;
  top: 0.4rem;
  right: 0.4rem;
  left: 0.4rem;
  bottom: 0.4rem;
}
.preloader-spin:after {
  animation: PreloaderSpin 2s linear infinite;
  border-top-color: #A5D6A7;
  top: 0.8rem;
  right: 0.8rem;
  left: 0.8rem;
  bottom: 0.8rem;
}
@keyframes PreloaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.fixed {
  position: fixed;
}
.header-title {
  text-align: center;
  font-size: 1.6em;
  width: 100%;
  color: #fff;
}
.logo-wrapper {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 3rem 2rem;
}
.logo {
  overflow: hidden;
  flex-shrink: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-letter {
  width: 5rem;
  font-size: 5.2rem;
  overflow: hidden;
  letter-spacing: -0.1em;
  height: 5rem;
  line-height: 4.7rem;
  text-indent: -0.9rem;
  border-radius: inherit;
}
.logo-text {
  line-height: 1em;
  text-align: left;
  padding-left: 0.5em;
  font-size: 1.8em;
}
.band-item {
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.band-cover {
  width: 25%;
  background-size: cover;
  background-position: 50%;
}
.band-content {
  padding: 1rem 1rem;
}
.band-title {
  margin: 0;
}
.results-title {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  line-height: 1.2em;
  font-weight: normal;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.results-title span {
  color: #fff;
}
.results-header {
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.wrapper {
  padding: 1rem;
  overflow: hidden;
  margin: 0 auto;
  max-width: 480px;
}
.card {
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 1rem 0;
  background: linear-gradient(135deg, #fff, #ECEFF1);
  transition: all 200ms;
}
.card.opened {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}
.ticket {
  will-change: transform;
  transform: translateX(0);
  color: #546E7A;
  opacity: .8;
  position: relative;
}
.ticket.translated {
  opacity: 0;
  transform: translateX(100%);
}
.ticket .additional-data {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 200ms all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket .additional-data > *:first-child {
  padding-top: 1rem;
}
.ticket.opened {
  opacity: 1;
}
.ticket.opened .additional-data {
  opacity: 1;
  height: 11rem;
}
.ticket .btn-bar {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.ticket .background {
  background-size: cover;
}
.flight-info {
  display: flex;
}
.flight-number {
  background-color: #ECEFF1;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  width: auto;
}
.preview-data {
  position: relative;
}
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
.ticket-header .hamburger {
  flex-shrink: 0;
  margin-right: 1rem;
}
.ticket-header .title {
  font-size: 1.4em;
  color: #4A148C;
  white-space: nowrap;
  margin-top: -0.2rem;
  margin-left: 0;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 300ms;
}
.ticket-header .price {
  margin-top: -0.2rem;
  white-space: nowrap;
  margin-left: 1rem;
  color: #fff;
  background-color: #81C784;
  background: linear-gradient(to right, #81C784, #4CAF50);
  padding: 0.25rem 0.5rem;
  margin-right: -1rem;
  border-radius: 2px 0 0 2px;
}
.ticket-header .price span {
  opacity: .5;
}
.ticket-subheader {
  display: flex;
  color: #607D8B;
  justify-content: space-between;
}
.hamburger {
  display: none;
  width: 2rem;
  transition: all 200ms;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 23px;
  transition: all 200ms;
  background-color: #CFD8DC;
  margin: 6px auto;
}
.opened .hamburger {
  transform: scale(0);
  opacity: 0;
}
.opened .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 0% 50%;
}
.opened .hamburger span:nth-child(2) {
  opacity: 0;
}
.opened .hamburger span:nth-child(3) {
  transform-origin: 0% 50%;
  transform: rotate(-45deg);
}
.concert-info {
  display: flex;
  align-items: center;
}
.artist-cover {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  margin-right: 1rem;
  border-radius: 4px;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
@media (max-width: 360px) {
  .artist-cover {
    width: 3rem;
    height: 3rem;
  }
}
.artist-cover::before {
  content: '';
  display: block;
  position: relative;
  border-radius: inherit;
  width: 100%;
  opacity: .7;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to right, #FF9800, #FFB74D);
}
.consert-name {
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(99%);
}
.consert-date {
  display: flex;
  font-size: .8em;
  padding-top: 0.5rem;
}
.consert-date span {
  margin-right: 1rem;
  display: block;
}
.consert-date span:first-child {
  color: #B0BEC5;
}
.flights {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 376px) {
  .flights {
    font-size: 0.85em;
  }
}
.flights .bound {
  padding: 0 0.5rem;
}
.flights .airport {
  font-weight: bold;
}
.flights .flight-number {
  display: block;
}
.sorting {
  color: #fff;
  margin-bottom: -1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.sorting > span {
  margin-right: 0.85rem;
}
.sorting-by {
  opacity: .5;
}
.sorting-button {
  display: block;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  opacity: .8;
  transition: all 100ms;
}
.sorting-button--chosen {
  opacity: .9;
  background-color: #fff;
  color: #2196F3;
}
.sorting-button.loading {
  animation: Pulse 3s linear infinite;
}
.page-processing .steps h2 {
  display: inline-block;
  margin: 4px 0 0 10px;
  font-weight: normal;
  color: #6A1B9A;
}
.page-processing .circle-loader,
.page-processing .circle-loader * {
  box-sizing: content-box;
}
.page-processing .circle-loader {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.page-processing .circle-loader,
.page-processing .circle-loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.page-processing .checkmark {
  display: none;
}
.page-processing .checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.page-processing .checkmark:after {
  opacity: 1;
  height: 1em;
  width: 0.5em;
  transform-origin: left top;
  border-right: 2px solid #5cb85c;
  border-top: 2px solid #5cb85c;
  content: '';
  left: 0.5em;
  top: 1em;
  position: absolute;
}
.page-processing .load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.page-processing .load-complete .checkmark {
  display: block;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 0.5em;
    opacity: 1;
  }
  40% {
    height: 1em;
    width: 0.5em;
    opacity: 1;
  }
  100% {
    height: 1em;
    width: 0.5em;
    opacity: 1;
  }
}
